<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <meta charset="UTF-8">
 <title>Happy Birthday</title>
 <link rel="stylesheet" href="/static/birth/css/jquery.fullPage.css" type="text/css"/>
 <link rel="stylesheet" href="/static/birth/css/memories.css" type="text/css"/>
 <link rel="stylesheet" href="/static/birth/css/bubbles.css" type="text/css" />
</head>

<body>
<div class="bgcolor">
  <div style="z-index:100;" id="dowebok">
      <!--第一屏-->
      <div class="section">
          <div class="ly-box01">
            <div class="ly-txt01">
              <p class="ly-stxt01">宝贝儿👑，生日快乐呀🎂！</p>
              <p class="ly-stxt02">这是我为你㊗️福的第一个生日🎂</p>
              <p class="ly-stxt03">感谢你135天的陪伴!</p>
              <p class="ly-stxt04">和你在一起真的好开心！</p>
              <p class="ly-stxt05">跟你在一起的时光都很耀眼，都很美好❤！</p>
            </div>
            <div class="ly-txt02">
              <p class="ly-stxt06">我有多么幸运，遇见的是你，</p>
              <p class="ly-stxt07">在我眼中，你总是那么好看~</p>
              <p class="ly-stxt08">我好想和你拥有一个很久很久的未来~彼此温暖、互不辜负~</p>
              <p class="ly-stxt09">亲爱的，生日快乐！</p>
              <p class="ly-stxt10">🎂爱你❤️ </p>
            </div>
        </div>
      </div>

      <!--第二屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box11">
              <div class="ly-txt11">
                  2018-9-30
              </div>
              <div class="ly-txt12">
                  还记得第一次在微信见到你，我就被你美丽的容颜深深的吸引了~（对我那时候就打起你的注意啦~）
              </div>
              <div class="ly-imgbox11">
                <img class="ly-img11" src="/media/img/1.jpg">
              </div>
          </div>
          <div class="ly-triangle11"></div>

          <div class="ly-box12">
              <div class="ly-txt13">
                  2018-10 ~ 2018-12
              </div>
              <div class="ly-txt14">
                 <p>写你自己的话</p>
			           <p>可自己加p标签</p>

              </div>
          </div>
          <div class="ly-triangle12"></div>
      </div>

      <!--第三屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  2019-01-01
              </div>
              <div class="ly-txt22">
                 <p>写你自己的话</p>
                 <p>写你自己的话</p>

              </div>
              <!-- <div class="ly-imgbox21">
                <img class="ly-img21" src="img/2014.11.26-1.png">
              </div> -->
          </div>
          <div class="ly-triangle21"></div>

          <div class="ly-box22">
              <div class="ly-txt23">
                  2019-02
              </div>
              <div class="ly-txt24">
                  写你自己的话
                  
                  <p>写你自己的话</p>
                  <p>写你自己的话</p>
                  <p>写你自己的话</p>
              </div>
              <!-- <div class="ly-imgbox22">
                <img class="ly-img22" src="img/2014.12.19-1.png">
              </div> -->
          </div>
          <div class="ly-triangle22"></div>

           <div class="ly-box23">
              <div class="ly-txt25">
                  2019-03
              </div>
              
              <div class="ly-imgbox23">
                <img class="ly-img23" src="/media/img/2.jpg">
              </div>
              <div class="ly-txt26">
                  写你自己的话
                  <p>写你自己的话</p>
                  <p>写你自己的话</p>
                  <p>写你自己的话</p>
                  <p> 写你自己的话 </p>
              </div>
          </div>
          <div class="ly-triangle23"></div>
      </div>

      <!--第四屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint31"></div>
          <div class="ly-box31">
              <div class="ly-txt31">
                  2019-04 ~ 2019-06
              </div>
              <div class="ly-txt32">
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
              </div>
              <!-- <div class="ly-imgbox31">
                <img class="ly-img31" src="img/2014.12.28-1.JPG">
              </div> -->
          </div>
          <div class="ly-triangle31"></div>

          
          <div class="ly-box32">
              <div class="ly-txt33">
                  2019-06
              </div>
              <div class="ly-imgbox31">
                <img class="ly-img31" src="/media/img/3.jpg">
              </div>
              <div class="ly-txt34">
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
              </div>
          </div>
          <div class="ly-triangle32"></div>
      </div>

  <!--第五屏-->
  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box52">
              <div class="ly-txt21">
                  2019-07
              </div>
              <div class="ly-txt22">
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="/media/img/4.jpg">
              </div>
          </div>
          <div class="ly-triangle21"></div>

          <div class="ly-box22">
              <div class="ly-txt23">
                  2019-08
              </div>
              <div class="ly-txt51">
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
              </div>
              <!-- <div class="ly-imgbox22">
                <img class="ly-img22" src="img/2015.02.19-1.png">
              </div> -->
          </div>
          <div class="ly-triangle22"></div>

           <div class="ly-box51">
              <div class="ly-txt25">
                  2019-09
              </div>
              <div class="ly-imgbox23">
                <img class="ly-img23" src="/media/img/5.jpg">
              </div>
              <div class="ly-txt26">
                <p> 写你自己的话 </p>
                <p> 写你自己的话 </p>
                <p> 写你自己的话 </p>
                <p> 写你自己的话 </p>

              </div>
              
          </div>
          <div class="ly-triangle23"></div>
      </div>

  <!--第六屏-->
  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  2019-10
              </div>
              <div class="ly-txt22">
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
              </div>
              <!-- <div class="ly-imgbox21">
                <img class="ly-img21" src="img/2015.05.19-1.PNG">
              </div> -->
          </div>
          <div class="ly-triangle21"></div>

          <div class="ly-box22">
              <div class="ly-txt23">
                  2019-11
              </div>
              <div class="ly-txt24">
                <p> 写你自己的话 </p>
                <p> 写你自己的话 </p>
                <p> 写你自己的话 </p>
                <p> 写你自己的话 </p>
              </div>
              <!-- <div class="ly-imgbox22">
                <img class="ly-img22" src="img/2015.05.28-1.PNG">
              </div> -->
          </div>
          <div class="ly-triangle22"></div>

           <div class="ly-box23">
              <div class="ly-txt25">
                  2019-11-17
              </div>
              <div class="ly-imgbox61">
                <img class="ly-img61" src="/media/img/6.jpg">
              </div>
              <div class="ly-txt61">
                  <p class="wwww1"> 写你自己的话 </p>
        				  <p class="wwww1">写你自己的话</p>
        				  <p class="wwww1">写你自己的话</p>
        				  <p class="wwww1">写你自己的话</p>
                  <p class="wwww1">写你自己的话 </p>
        				  <p class="wwww1">写你自己的话 </p>
        				  <p class="wwww1">写你自己的话</p>
        				  <p class="wwww1">写你自己的话</p>
        				  <!-- <p class="wwww1" style="display:none;">你想要的，我能给的，我都会给你。</p> -->
                  <p class="ly-txt62"> 写你自己的话  </p>
                  <p class="ly-txt63"> 写你自己的话  </p>
              </div>
              
          </div>
          <div class="ly-triangle23"></div>
      </div>

      <!--第七屏-->
      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint71"></div>
          <div class="ly-box21 xx71">
              <div class="ly-txt21">
                  2019-12
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="/media/img/7.jpg">
              </div>
              <div class="ly-txt22">
                 <p> 写你自己的话</p>
                 <p> 写你自己的话</p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
                 <p> 写你自己的话 </p>
              </div>
              
          </div>
          <div class="ly-triangle21 xx72"></div>

          <div class="ly-box71">
              <div class="ly-txt23">
                  2020-01
              </div>
              <div class="ly-imgbox71">
                <img class="ly-img71" src="/media/img/8.jpg">
              </div>
              <div class="ly-txt71">
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
              </div>
              
          </div>
          <div class="ly-triangle22"></div>

           <div class="ly-box72">
              <div class="ly-txt25">
                  2020-02
              </div>
              <div class="ly-txt72">
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
              </div>
              <div class="ly-imgbox72">
                <img class="ly-img72" src="/media/img/9.jpg">
              </div>
          </div>
          <div class="ly-triangle71"></div>

<!--           <div class="ly-box73">
              <div class="ly-txt25">
                  201X-0X-1X
              </div>
              <div class="ly-txt73">
                  <p>XXXXXXXXXXXXXXXXXXXXX</p>
              </div>
              <div class="ly-imgbox73">
                <img class="ly-img73" src="img/2015.06.17-1.jpg">
              </div>
          </div> -->
          <div class="ly-triangle72"></div>
      </div>

      <!--第八屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box81">
              <div class="ly-txt11">
                  2020-03
              </div>
              <div class="ly-txt82">
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>
                  <p> 写你自己的话 </p>

              </div>
              <!-- <div class="ly-imgbox81">
                <img class="ly-img81" src="img/2015.06.18-1.PNG">
              </div> -->
          </div>
          <div class="ly-triangle11"></div>

          <div class="ly-box82">
              <div class="ly-txt13">
                  2020-03-31
              </div>
              <div class="ly-txt84">
                 <p class="wwww1"> 写你自己的话 </p>
				 <p class="wwww1"> 写你自己的话 </p>
         <p class="wwww1"> 写你自己的话 </p>

         <p class="wwww1">  写你自己的话 不够加p标签 </p>
              </div>
          </div>
          <div class="ly-triangle82"></div>

      </div>

      <!--第九屏-->

<!-- <div class="section">
          <div class="timeline"></div>
          <div class="timepoint91"></div>
          <div class="ly-box21 xx91">
              <div class="ly-txt21">
                  201X-0X-2X
              </div>
              <div class="ly-txt90">
                 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
              </div>
              <div class="ly-imgbox21 xx94">
                <img class="ly-img21" src="img/2015.06.24-1.jpg">
              </div>
          </div>
          <div class="ly-triangle21 xx92"></div>

          <div class="ly-box91">
              <div class="ly-txt23">
                  201X-0X-2X
              </div>
              <div class="ly-txt91">
                  <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
              </div>
              <div class="ly-imgbox91">
                <img class="ly-img91" src="img/2015.06.24-3.jpg">
              </div>
          </div>
          <div class="ly-triangle22 xx92"></div>

           <div class="ly-box92">
              <div class="ly-txt25">
                  201X-0X-2X
              </div>
              <div class="ly-txt92">
                  <p>XXXXXXXXXX</p>
              </div>
              <div class="ly-imgbox92">
                <img class="ly-img92" src="img/2015.06.26-1.jpg">
              </div>
          </div>
          <div class="ly-triangle91"></div>

          <div class="ly-box93">
              <div class="ly-txt25">
                  201X-0X-2X
              </div>
              <div class="ly-txt93">
                  <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
              </div>
              <div class="ly-imgbox93">
                <img class="ly-img93" src="img/2015.06.26-2.jpg">
              </div>
          </div>
          <div class="ly-triangle92"></div>
      </div> -->
		<!--第十屏-->

		  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box81">
              <div class="ly-txt11">
                  To 未来
              </div>
              <div class="ly-txt82" style="top:8%">
                  <p class="wwww1">写你自己的话</p>
                  <p class="wwww1">写你自己的话</p>
                  <p class="wwww1">写你自己的话</p>
                  <p class="wwww1">写你自己的话</p>

				  <a href="play/">点我有惊喜哦</a>
              </div>
{#              <div class="ly-imgbox81">#}
{#                <img class="ly-img81" src="img/2016.04.04-1.jpg">#}
{#              </div>#}
          </div>
          <div class="ly-triangle11"></div>

{#          <div class="ly-box82">#}
{#              <div class="ly-txt13">#}
{#                  201X-0X-1X#}
{#              </div>#}
{#              <div class="ly-txt84">#}
{#                 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#   				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>可XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>#}
{#				 <p>XXXXXXXXXXXXXXXXXXX</p>#}
{#              </div>#}
{#          </div>#}
          <div class="ly-triangle82"></div>
      </div>

       </div>
  <!--试验-->
  <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
  <script src="/static/birth/js/jquery-2.1.1.min.js"></script>
  <script src="/static/birth/js/jquery.fullPage.min.js"></script>
  <!-- <script src="/static/birth/js/auto-play.js"></script> -->
  <script src="/static/birth/js/memories.js"></script>
  <audio src="/media/music/1.mp3" autoplay="autoplay" loop="loop"></audio>
</body>
</html>
